#У кого не стартует в обол после запуска или переезда синхронизация - выполняем команду:

docker-compose -f $HOME/charon-distributed-validator-node/docker-compose.yml down

sed -i -e 's%--checkpoint-sync-url=.*%--checkpoint-sync-url=https://goerli.beaconstate.info%g' "$HOME/charon-distributed-validator-node/docker-compose.yml"

docker-compose -f $HOME/charon-distributed-validator-node/docker-compose.yml up -d
#Встановити по замовчуванню !!
sed -i -e 's%--checkpoint-sync-url=https://goerli.beaconstate.info%--checkpoint-sync-url=https://goerli.checkpoint-sync.ethdevops.io%g' "$HOME/charon-distributed-validator-node/docker-compose.yml"

Зміна портів
wget -q -O obol_ports.sh https://raw.githubusercontent.com/mgpwnz/obol/main/obol_ports.sh && chmod +x obol_ports.sh && ./obol_ports.sh